services:
  localstack:
    image: localstack/localstack
    ports:
      - "4566:4566"
    environment:
      - SERVICES=s3
      - LOCALSTACK_AUTH_TOKEN=-
    volumes:
      - "./localstack:/localstack"
    
    
